@font-face
{
font-family: Sweetly Broken;
src: url('../Fonts/sweetly_broken/Sweetly Broken.ttf');
}

@font-face
{
font-family: Century Gothic;
src: url('../Fonts/gothic.TTF');
}

.mgauto {
	margin: 0 auto ;
	}

a {	
	text-decoration: none;
	}

body {
	overflow-x: hidden;
	margin: 0;
	background: #efe9e1;
	width: 100%;
	height: 100%;
	font-family: Century Gothic, sans-serif;
	}

#modal-background {
	position: absolute;
	background: #3B2E2A;
	z-index: 2;
	opacity: 0;
	display: none;
	}

#goBack{
	width: 100px;
	height: 100px;
	background: url('../images/back.png') no-repeat center;
	text-align: left;
	display: none;
}

#goBack:hover{
	cursor: pointer;
	}

#slideWrapper {
	overflow: hidden; 
	}

#slideMenu {
	background: #F6E6CE;
	box-shadow: 0px 0px 15px 2px #fafafa;
	z-index: 5;
	position: absolute;
	left: -1300px;
	width: 1260px;
	max-height: 600px;
	overflow: auto;
	display: block;
	}

.header {
	margin-top: 18px;
	text-shadow: 3px 0px 5px #000;
	font-size: 30px;
	color: #d3c0b4;
	}

#horizontalDivTop {
	width: 940px;
	display: block;
	height: 5px;
	background: #726e6b;
	margin-top: 20px;
	}

#footerDiv {
	position: relative;
	width:  940px;
	display: block;
	clear: both;
	padding-bottom: 50px;
	height: 5px;
	background: #726e6b;
	margin-top: 15px;
	}

#notesPage {
	display: none;
	position: relative;
	width: 385px;
	margin-top: 75px;
	height: 300px;
	float: left;
	opacity: 0;
	border: 3px solid;
	background: #fafafa;
	overflow: auto;
	}

#contentNote {
	font-size: 14px;
	display: block;
	width: 95%;
	min-height: 90%;
	background: #FAFAFA;
	border: 0;
	margin-top: 9%;
	margin-left: 2.5%;
	}

#text-options  {
	cursor: pointer;
	background: url('../images/save.png');
	width: 40px;
	height: 40px;
	position: absolute;
	top: 10px;
	right: 10px;
	}

.titleNote {
	display: block;
	width: 100%;
	text-align: center;
	font-size: 14px;
	margin-top: 15px;
	}

#dateTitleNote {
	display: block;
	width: 100%;
	text-align: left;
	font-size: 14px;
	margin-left: 5px;
	margin-top: 40px;
	}

#dateWrapper {
	width: 820px;
	height: 30px;
	display: block;
	color: #726e6b;
	text-align: center;
	}

#date {
	margin-left: 20px;
	margin-top: 4px;
	}

#horizontalDivBottom {
	width: 940px;
	display: block;
	height: 3px;
	background: #726e6b;
	}

#texture {
	position: relative;
	background: url("../images/dot3.png") repeat;
	width: 940px;
	height: 150px;
	display: block;
	}

#titleWrapper {
	position: relative;
	}

#titleBoxBack {
	position: absolute;
	left: 34%;
	top: 25%;
	width: 30%;
	height: 50%;
	background: #726e6b;
	opacity: 0.3;
	display: block;
	}

#titleBoxMiddle {
	position: absolute;
	left: 34.5%;
	top: 23%;
	width: 30%;
	height: 50%;
	background: #726e6b;
	opacity: 0.6;
	display: block;
	}

#titleBoxMain {
	position: absolute;
	left: 35%;
	width: 30%;
	top: 20%;
	height: 50%;
	background: #726e6b;
	opacity: 0.9;
	display: block;
	}

.menuImg { 
	background: url("../images/menuLayout.png") no-repeat right;	
	display: block;
	width: 100%;
	height: 30px;
	color: #726e6b;
	text-align: center;
	padding-top: 15px;
	}

.close {
	width: 10px;
	height: 10px;
	position: absolute;
	left: 10px;width: 39px;
	height: 39px;
	position: absolute;
	top: 0px;
	left: 1px;
	}

.close:hover {
	cursor: pointer;
	}

#closeX{
	text-shadow: 0px 1px 2px #fff;
	}

#closeX:hover {
	fill: #fff;
	text-shadow: 0px 1px 2px #000;
	}

.menuTxt {
	margin-top: -3px;
	margin-left: 15px;
	}

.menuImg:hover {
	cursor: pointer;
	}

.menuImg .specialText {
	font-size: 9px;
	margin-top: 1px;
	}

.menuImg .specialText2 {
	font-size: 12px;
	margin-top: 0px;
	}

#contentWrapper {
	position: relative;
	margin-top: 20px;
	width: 940px;
	}

#contentHeader {
	font-size: 90px;
	color: #726e6b;
	text-align: center;
	margin-top: 30px;
	}

#content {
	position: relative;
	min-height: 400px;
	width: 85%;
	float: left;
	word-wrap: break-word;
	}

#menuBar {
	position: relative;
	width: 116px;
	min-height: 200px;
	display: block;
	float: left;
	}

#actualContent {
	margin-top: 50px;
	font-size: 20px;
	line-height: 2em;
	margin-bottom: 30px;
	}

#verticalDiv {
	position: relative;
	width: 10px;
	display: block;
	min-height: 340px;
	background: url("../images/dot3.png") repeat-y;
	float: left;
	margin-left: 15px;
	}

#footerWrapper {
	clear: both;
	bottom: 0;
	width: 100%;
	height: 3px;
	display: block;
	background: #726e6b;
	}

#footerWrapper2 {
	margin-top: 10px;
	clear: both;
	bottom: 0;
	width: 100%;
	height: 5px;
	display: block;
	background: #726e6b;
	}

#footerText {
	color: #efe9e1;
	text-align: right;
	}

#footerSpace {
	height: 20px;
	display: block;
	}

#socialMediaWrapper {
	position: relative;
	top: 26px;
	width: 270px;
	margin: 0 auto;
	}

#iconFacebook {
	background: url("../images/socialMediaSprite.png") no-repeat -23px -18px;
	width: 48px;
	height: 47px;
	float: left;
	display: block;
	}

#iconTwitter {
	background: url("../images/socialMediaSprite.png") no-repeat -85px -16px;
	width: 50px;
	margin-left: 20px;
	height: 49px;
	float: left;
	display: block;
	}

#iconRss {
	background: url("../images/socialMediaSprite.png") no-repeat -148px -18px;
	width: 49px;
	height: 47px;
	display: block;
	margin-left: 20px;
	float: left;
	}

#iconLinkedin {
	background: url("../images/socialMediaSprite.png") no-repeat -23px -80px;
	width: 49px;
	height: 50px;
	display: block;
	margin-left: 20px;
	float: left;
	}

#iconGmail {
	background: url("../images/socialMediaSprite.png") no-repeat -85px -80px;
	width: 50px;
	margin-left: 20px;
	height: 50px;
	display: block;
	float: left;
	}