{% extends "page.html" %}

{% block title %} Resume - Amit Juneja {% endblock %}

{%block menu%}
    <div class="menu_item top_menu" href="body"> <span> Top </span></div>
	<div class="menu_item first" href="#work_ex"> <span> Work Experience </span></div>
	<div class="menu_item abil" href="#abilities"> <span> Abilities </span></div>
		<div class="sub_menu_item first" href="#languages"> <span>Languages</span> </div> 
		<div class="sub_menu_item" href="#frameworks"> <span>Frameworks/ Technologies</span></div> 
		<div class="sub_menu_item" href="#ski"> <span>Research Based Skills</span> </div>
		<div class="sub_menu_item" href="#spatial"> <span>Spatial Technologies</span> </div>
		<div class="sub_menu_item" href="#database"> <span>Databases</span> </div>
		<div class="sub_menu_item" href="#tools"> <span>Tools</span> </div>
		<div class="sub_menu_item last" href="#os"> <span>Operating System </span></div>
	<div class="menu_item" href="#education"> <span> Education </span></div>

{%endblock%}

{%block content%}

	<div class="item_heading" id="work_ex"> Work Experience </div>
	<div class="line"></div> 
	<div class="content"> 
		<section class="exp" id="bcf">
		<div class="head">
			<img src="{{STATIC_URL}}img/bcf_logo.png" width="25" height="25" class="logo">
			<span class="left"><a href="http://bcf.arl.arizona.edu/" target="_blank">BioComputingFacility</a>, Tucson, AZ</span>
			<span class="right">Feb 2014 - Present</span>
		</div>
		<div class="highlight"> Lead Student Developer / Graduate Assistant </div>
		<div class="sub"> <img src="{{STATIC_URL}}img/bull.png" width="25" height="25" class="bull">Developed on open-source GIS applications to create Spatial Data Infrastructure </div>
		<div class="sub"> <img src="{{STATIC_URL}}img/bull.png" width="25" height="25" class="bull">Customized an open source GIS web app, <a href="http://geonode.org/" target="_blank">Geonode </a> to integrate services from local cyberinfrastructure, <a href="http://www.iplantcollaborative.org/" target="_blank"> Iplant Collaborative </a></div>
		<div class="sub"> <img src="{{STATIC_URL}}img/bull.png" width="25" height="25" class="bull">Customized an open source server, <a href="http://geoserver.org/" target="_blank">Geoserver</a>, to enhance spatial data handling and to include services from <a href="http://www.iplantcollaborative.org/" target="_blank"> Iplant Collaborative </a></div>
		</section>
		<section class="exp" id="sbits">
		<div class="head">
			<img src="{{STATIC_URL}}img/sourcebits_logo.png" width="25" height="25" class="logo">
			<span class="left"><a href="http://sourcebits.com/" target="_blank">Sourcebits Technologies</a>, Bangalore, India</span>
			<span class="right">May 2013 - Dec 2013</span>
		</div>
		<div class="highlight"> Software Engineer </div>
		<div class="sub"> <img src="{{STATIC_URL}}img/bull.png" width="25" height="25" class="bull">Developed web app for <a href="http://www.conovercompany.com/" target="_blank">Conover</a>, a Wisconsin based company which provides research-based assessment tools </div>
		<div class="sub"> <img src="{{STATIC_URL}}img/bull.png" width="25" height="25" class="bull"> Developed back-end functionalities for the web app in Ruby on Rails with MySQL as the database</div>
		<div class="sub"> <img src="{{STATIC_URL}}img/bull.png" width="25" height="25" class="bull"> Worked extensively on front-end development of web pages with Javascript , HTML5, AJAX and jQuery</div>
		</section>
		<section class="exp" id="icap">
		<div class="head">
			<img src="{{STATIC_URL}}img/intellecap_logo.png" width="40" height="25" class="logo">
			<span class="left"><a href="http://intellecap.com/" target="_blank">Intellecap Software and Technologies Pvt. Ltd</a>, Hyderabad, India</span>
			<span class="right">Oct 2012 - Mar 2013</span>
		</div>
		<div class="highlight"> Software Engineer, Intern </div>
		<div class="sub"> <img src="{{STATIC_URL}}img/bull.png" width="25" height="25" class="bull">Assisted in the development of open source MIS product called <a href="https://github.com/mostfit/mostfit" target="_blank">Mostfit</a>, which targets the microfinance industries </div>
		<div class="sub"> <img src="{{STATIC_URL}}img/bull.png" width="25" height="25" class="bull"> Developed back-end functionalities for the web app in Ruby on Rails with MySQL as the database</div>
		<div class="sub"> <img src="{{STATIC_URL}}img/bull.png" width="25" height="25" class="bull"> Worked extensively on front-end development of web pages with Javascript , HTML5, AJAX and jQuery</div>
		</section>
	</div>
	<br>
	<br>
	<br>
	<br>
	<div class="item_heading" id="abilities"> Abilities </div>
	<div class="line"></div> 
	<div class="content"> 
		<section class="abl" id="languages">
		<div class="head">
			<span> Languages</span>
		</div>
		<div class="skill_name">
			<span class="item">Java</span>
			<span class="item">C/C++</span>
			<span class="item">PHP</span>
			<span class="item">Ruby</span>
			<span class="item">Python</span>
			<span class="item">Javascript</span>
			<span class="item">HTML5</span>
			<span class="item">CSS3</span>
			<span class="item">XML</span>
		</div>
		<div class="level">
			<div class="rating">
				<input type="hidden" class="ratings" value="3"/>
			</div>
			<div class="rating">
				<input type="hidden" class="ratings" value="3.5"/>
			</div>
			<div class="rating">
				<input type="hidden" class="ratings" value="2.5"/>
			</div>
			<div class="rating">
				<input type="hidden" class="ratings" value="4"/>
			</div>
			<div class="rating">
				<input type="hidden" class="ratings" value="4"/>
			</div>
			<div class="rating">
				<input type="hidden" class="ratings" value="4"/>
			</div>
			<div class="rating">
				<input type="hidden" class="ratings" value="4.5"/>
			</div>
			<div class="rating">
				<input type="hidden" class="ratings" value="4.5"/>
			</div>
			<div class="rating">
				<input type="hidden" class="ratings" value="3"/>
			</div>
		</div>
		</section>

		<section class="abl" id="frameworks">
		<div class="head">
			<span> Frameworks / Technologies </span>
		</div>
		<div class="skill_name">
			<span class="item">Django</span>
			<span class="item">Sping (MVC, Web Flow)</span>
			<span class="item">Rails</span>
			<span class="item">NodeJS</span>
			<span class="item">ExpressJS</span>
			<span class="item">AngularJS</span>
			<span class="item">Backbone</span>
			<span class="item">D3</span>
			<span class="item">jQuery</span>
			<span class="item">AJAX</span> 
			<span class="item">SQL</span>
			<span class="item">REST</span>
			<span class="item">Media Queries</span>
			<span class="item">Twitter Bootstrap</span>
		</div>
		<div class="level">
			<div class="rating">
				<input type="hidden" class="ratings" value="4"/>
			</div>
			<div class="rating">
				<input type="hidden" class="ratings" value="2.5"/>
			</div>
			<div class="rating">
				<input type="hidden" class="ratings" value="3"/>
			</div>
			<div class="rating">
				<input type="hidden" class="ratings" value="4"/>
			</div>
			<div class="rating">
				<input type="hidden" class="ratings" value="2.5"/>
			</div>
			<div class="rating">
				<input type="hidden" class="ratings" value="2.5"/>
			</div>
			<div class="rating">
				<input type="hidden" class="ratings" value="2"/>
			</div>
			<div class="rating">
				<input type="hidden" class="ratings" value="3"/>
			</div>
			<div class="rating">
				<input type="hidden" class="ratings" value="4.5"/>
			</div>
			<div class="rating">
				<input type="hidden" class="ratings" value="3"/>
			</div>
			<div class="rating">
				<input type="hidden" class="ratings" value="3"/>
			</div>
			<div class="rating">
				<input type="hidden" class="ratings" value="4"/>
			</div>
			<div class="rating">
				<input type="hidden" class="ratings" value="3"/>
			</div>
			<div class="rating">
				<input type="hidden" class="ratings" value="4.5"/>
			</div>
		</div>
		</section>

		<section class="abl" id="ski">
		<div class="head">
			<span> Research Based Skills </span>
		</div>
		<div class="skill_name">
			<span class="item">Data Mining (Social Networking Websites)</span>
			<span class="item">Recommendation/Prediction Algorithms (Machine Learning)</span>
		</div>
		<div class="level">
			<div class="rating">
				<input type="hidden" class="ratings" value="4.5"/>
			</div>
			<div class="rating">
				<input type="hidden" class="ratings" value="3"/>
			</div>
		</div>
		</section>

		<section class="abl" id="spatial">
		<div class="head">
			<span> Spatial Technologies </span>
		</div>
		<div class="skill_name">
			<span class="item">QGIS</span>
			<span class="item">Geoserver</span>
			<span class="item">Geonode</span>
			<span class="item">Openlayers Suite</span>
			<span class="item">Leaflet</span>
			<span class="item">GDAL/OGR</span>
			<span class="item">OGC Standards</span>
			<span class="item">ESRI ArcGIS</span>
			<span class="item">netCDF4</span>
		</div>
		<div class="level">
			<div class="rating">
				<input type="hidden" class="ratings" value="4"/>
			</div>
			<div class="rating">
				<input type="hidden" class="ratings" value="4"/>
			</div>
			<div class="rating">
				<input type="hidden" class="ratings" value="4"/>
			</div>
			<div class="rating">
				<input type="hidden" class="ratings" value="2.5"/>
			</div>
			<div class="rating">
				<input type="hidden" class="ratings" value="2.5"/>
			</div>
			<div class="rating">
				<input type="hidden" class="ratings" value="3"/>
			</div>
			<div class="rating">
				<input type="hidden" class="ratings" value="3"/>
			</div>
			<div class="rating">
				<input type="hidden" class="ratings" value="2"/>
			</div>
			<div class="rating">
				<input type="hidden" class="ratings" value="2.5"/>
			</div>
		</div>
		</section>

		<section class="abl" id="database">
		<div class="head">
			<span> Databases </span>
		</div>
		<div class="skill_name">
			<span class="item">MySQL</span>
			<span class="item">Postgresql</span>
			<span class="item">PostGIS</span>
			<span class="item">MongoDB</span>
			<span class="item">Elasticsearch</span>
		</div>
		<div class="level">
			<div class="rating">
				<input type="hidden" class="ratings" value="3.5"/>
			</div>
			<div class="rating">
				<input type="hidden" class="ratings" value="4"/>
			</div>
			<div class="rating">
				<input type="hidden" class="ratings" value="3.5"/>
			</div>
			<div class="rating">
				<input type="hidden" class="ratings" value="3"/>
			</div>
			<div class="rating">
				<input type="hidden" class="ratings" value="2.5"/>
			</div>
		</div>
		</section>

		<section class="abl" id="tools">
		<div class="head">
			<span> Tools </span>
		</div>
		<div class="skill_name">
			<span class="item">Microsoft Office</span>
			<span class="item">Git</span>
			<span class="item">JIRA</span>
			<span class="item">Bitbucket</span>
			<span class="item">Sublime Text 2</span>
			<span class="item">Docker</span>
			<span class="item">Adobe Photoshop</span>
			<span class="item">GIMP</span>
			<span class="item">Eclipse</span>	
			<span class="item">Maven</span>	
		</div>
		<div class="level">
			<div class="rating">
				<input type="hidden" class="ratings" value="5"/>
			</div>
			<div class="rating">
				<input type="hidden" class="ratings" value="4"/>
			</div>
			<div class="rating">
				<input type="hidden" class="ratings" value="3"/>
			</div>
			<div class="rating">
				<input type="hidden" class="ratings" value="3"/>
			</div>
			<div class="rating">
				<input type="hidden" class="ratings" value="4"/>
			</div>
			<div class="rating">
				<input type="hidden" class="ratings" value="2.5"/>
			</div>
			<div class="rating">
				<input type="hidden" class="ratings" value="4"/>
			</div>
			<div class="rating">
				<input type="hidden" class="ratings" value="4"/>
			</div>
			<div class="rating">
				<input type="hidden" class="ratings" value="4"/>
			</div>
			<div class="rating">
				<input type="hidden" class="ratings" value="3"/>
			</div>
		</div>
		</section>

		<section class="abl" id="os">
		<div class="head">
			<span> Operating System </span>
		</div>
		<div class="skill_name">
			<span class="item">Windows ME/Vista/7/8</span>
			<span class="item">Ubuntu 14.04</span>
			<span class="item">Mac OSX 10.6 and later</span>
			<span class="item">Unix</span>
		</div>
		<div class="level">
			<div class="rating">
				<input type="hidden" class="ratings" value="4.5"/>
			</div>
			<div class="rating">
				<input type="hidden" class="ratings" value="3"/>
			</div>
			<div class="rating">
				<input type="hidden" class="ratings" value="5"/>
			</div>
			<div class="rating">
				<input type="hidden" class="ratings" value="4"/>
			</div>
		</div>
		</section>

		
	</div>
	<div class="item_heading" id="education"> Education </div>
	<div class="line"></div> 
	<div class="content"> 
			<section class="exp">
				<div class="head">
					<span class="left"><a href="http://arizona.edu/" target="_blank">University of Arizona</a>, Tucson, AZ</span>
					<span class="right">Jan 2008 - Aug 2012 </span><span class="right">Jan 2014 - Present</span>
				</div>
					<div class="highlight"> Masters</div>
					<div class="sub"><img src="{{STATIC_URL}}img/bull.png" width="25" height="25" class="bull">Working on M.S in Electrical Computer Engineering. Current GPA : 3.4</div>
					<div class="sub"><img src="{{STATIC_URL}}img/bull.png" width="25" height="25" class="bull">Master’s Thesis Topic: Increasing adaptability in home healthcare devices</div>
					<div class="sub"><img src="{{STATIC_URL}}img/bull.png" width="25" height="25" class="bull">Graduate Coursework: Artificial Intelligence, Machine Learning, Parallel Processing, Engineering Based Systems, Advanced Networking, Geostatistics, Bayesian Inference</div>
					<br>
					<br>
					<div class="highlight"> Bachelors </div>
					<div class="sub"><img src="{{STATIC_URL}}img/bull.png" width="25" height="25" class="bull"> B.S. in Electrical Engineering w/ Minors in Math , Computer Engr</div>
				
			</section>
	</div>
{%endblock content%}